include /layouts/main.pug
block body
    section#pg_index.hero
        a(href="/")
            img(src="/src/assets/img/brand.png", alt="", srcset="")
        section 
            div 
                span#ip hihacity.net
                div 
                    span#stus •
                    span.pc Soon
            button(data-report-entity="copy")