$dep: 6px

@import _icn

@font-face 
    font-family: "FVF Fernado 08"
    src: url(https://cdn.langdua.net/assets/fonts/fvf_fernado_08.woff2), url(https://cdn.langdua.net/assets/fonts/fvf_fernado_08.ttf)

.pixel
    image-rendering: pixelated
    font-family: "FVF Fernado 08"

@mixin inp()
    border: none!important
    outline: none

@mixin stlc($c, $o)
    $shd: scale-color($c, $lightness: -20%, $saturation: -10%)
    box-shadow: 0 $dep $shd
    transform: translateY(-#{$dep - $dep * $o})
    background-color: $c
    &:not(button[data-disabled]):is(button):active
        box-shadow: 0 0 $shd
        transform: translateY(#{0px + $dep * $o})

.flexv
    display: flex
    align-items: center

.common_shadow
    text-shadow: 2px 2px 1px #000