doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
        title HihaCity | #{title}
        script(type="module", src="/src/main.ts")
    body 
        block body
